<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" justify-content-center>
  <a class="navbar-brand main-heading" href="{% url 'index' %}"> &nbsp; Django - CRM </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarNav">
    <ul class="navbar-nav mr-auto">
        &nbsp;  &nbsp; &nbsp;
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}"> Dashboard &nbsp; <i class="fa fa-house" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}#records-section"> Records &nbsp; <i class="fa-solid fa-address-book" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}#category-section" > Categories &nbsp; <i class="fa fa-layer-group"aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')"> Logout &nbsp; <i class="fa fa-arrow-right-from-bracket"aria-hidden="true"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}"> Register &nbsp; <i class="fa-solid fa-user-plus"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"> Login &nbsp; <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        {% endif %}
        &nbsp; &nbsp; &nbsp;
    </ul>
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    </div>
</nav>